@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #1c1b23 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(217, 217, 224);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 14px;
  border: 3px solid rgba(255, 166, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1c1b23;
  border: 3px solid rgba(255, 0, 0, 0.548)
}

.dd {
  filter: drop-shadow(50px 4px 6px black)
}
.dd2 {
  filter: drop-shadow(50px 4px 6px white)
}